<div class="container">

    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
          <div class="btn-group btn-group-justified">

          <a href="http://localhost:3000/rock" class="btn btn-primary btn-lg active" role="button">Play Rock</a>
          <a href="http://localhost:3000/paper" class="btn btn-info btn-lg active" role="button">Play Paper</a>
          <a href="http://localhost:3000/scissors" class="btn btn-primary btn-lg active" role="button">Play Scissors</a>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-4">
          <div class="text-center">
          <dt>Your move</dt>
          </div>
          <div style="text-align:center;"class="text-success"> <p class="bg-success">Scissors</p>
            </div>

          <img src="http://localhost:3000/assets/images/scissors.png"class="img-thumbnail center-block"
          width="200"/>
        </div>

        <div class="col-md-offset-0.5 col-md-4">

          <div class="text-center">
          <dt>Machine move</dt>
          </div>
          <div style="text-align:center;"class="text-danger">
          <p class="bg-danger" >
          <%= @computer_move %>
          </p>
          </div>



          <% if @computer_move == "Rock" %>
          <img src="http://localhost:3000/assets/images/rock.png" width="200"class="img-thumbnail center-block" />

          <% elsif @computer_move == "Scissors"%>
          <img src="http://localhost:3000/assets/images/scissors.png" width="200"class="img-thumbnail center-block" />

          <% else %>
          <img src="http://localhost:3000/assets/images/paper.png" width="200"class="img-thumbnail center-block"/>

          <% end  %>


        </div>
    </div>

    <div class="row">

          <div class="col-md-offset-4 col-md-4">
            <div class="text-center">



          <% if @computer_move == "Rock" %>
          <p>
          <button type="button" class="btn btn-warning"> <strong>You lost!</strong></button>
          </p>

          <% elsif @computer_move == "Scissors"%>
          <p>
            <button type="button" class="btn btn-success"><strong>You tied!</strong></button>
          </p>

          <% else %>
          <p>
          <button type="button" class="btn btn-danger"><strong>You won!</strong></button>
          </p>
            <% end  %>
            </div>
          </div>


    </div>
</div>
